# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/$PROJECT_FILE$
/checkstyle-idea.xml
/codeStyles/codeStyleConfig.xml
/dbnavigator.xml
/encodings.xml
/misc.xml
/PMDPlugin.xml
/codeStyles/Project.xml
/qaplug_profiles.xml
/vcs.xml
